@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inter-italic.var.woff2) format('woff2');
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  @apply font-bold text-4xl leading-[3rem] mt-8;
}

h2 {
  @apply font-bold text-2xl leading-10;
}

h3 {
  @apply font-semibold text-xl leading-8;
}

p {
  @apply font-normal text-lg leading-8;
}

a {
  @apply font-medium text-white-500 hover:underline  underline-offset-1;
}
